
#makeMeDraggable1, #makeMeDraggable2{
	width:100px;
	background-color:blue;
	color: yellow;
	text-align: center;
	display: inline-block;
	margin-bottom: 100px;
}
#makeMeDraggable2 {
	margin-left: 100px;
}
img {
	width: 200px;
	height: 130px;
	display: none;
}
p {
	display: none;
}

#bigDiv {
	width: 200px;
	height: 200px;
	border: 1px solid red;
}

.reg {
	background-color:black;
}